<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LocalTripManagement</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="app.css">
</head>

<body>
<nav>
    <a href="#home">Home</a>
    <ul>
        <li>
            <a href="/provinces/add">Add Province</a>
        </li>
        <li>
            <a href="/users/add">SIGN UP</a>
        </li>
        <li>
            <a href="/users/login">Login</a>
        </li>
        <li>
            <a href="/users/list">Users List</a>
        </li>
        <li>
            <a href="/provinces/list">Province List</a>
        </li>
        <li>
            <a href="/places/add">Add place</a>
        </li>
        <li>
            <a href="/places/list">List Place</a>
        </li>
        <li>
            <a href="/users/myProfile">My profile</a>
        </li>
        <li>
            <a href="/places/place-page">Place-Page</a>
        </li>
        <li>
            <a href="/layouts/homePageTest">HOME PAGE</a>
        </li>

    </ul>
    <a href="#Signup">Signup</a>
</nav>
<!-- <div class="panel">
    <div class="pricing-plan">
        <img src="image/icon1.png" alt="" class="pricing-img">
        <h2 class="pricing-heaeder">Solo Package</h2>
        <ul class="pricing-features">
            <li class="pricing-features-item">3 Days</li>
            <li class="pricing-features-item">5 Site Visits</li>
        </ul>
        <span class="pricing-price">$300</span>
        <a href="#SoloPackage" class="pricing-button">Sign up</a>
    </div>
    <div class="pricing-plan">
        <img src="image/icon2.png" alt="" class="pricing-img">
        <h2 class="pricing-header">Friends Package</h2>
        <ul class="pricing-features">
            <li class="prixcing-features-item">7 Days</li>
            <li class="pricing-features-item">10 Site Visits</li>
        </ul>
        <span class="pricing-price">$650</span>
        <a href="#/" class="pricing-button is-featured">Sign up</a>
    </div>
    <div class="pricing-plan">
        <img src="image/icon3.png" alt="" class="pricing-img">
        <h2 class="pricing-header">Family Package</h2>
        <ul class="pricing-features">
            <li class="pricing-features-item">10 Days</li>
            <li class="pricing-features-item">Explore Whole Province</li>
        </ul>
        <span class="pricing-price">$800</span>
        <a href="#/" class="pricing-button">Sign up</a>
    </div>
</div> -->
</body>
<div>

</div>

</html>